body {
  background: #41e1ba;
  transition: background-color 300ms ease-in-out;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.working {
  background: #ef5d50;
}

.hidden {
  display: none;
}

.pomodoro-timer {
  min-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pomodoro-timer h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro-timer .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro-timer .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro-timer button {
  background: #41e1ba;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: #fff;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro-timer button {
  background: #ef5d50;
  color: #fff;
}

.pomodoro-timer .details {
  margin: 20px 0;
}
